{% extends 'Services/base_configure.html' %} {% load static %}
{% block table %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fotos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if service.items.all %} {% for item in service.items.all %}
            <tr>
                <td>
                    {{ item.title }}
                </td>
                <td>
                    {{ item.description }}
                </td>
                <td>
                    {{ item.photo }}
                </td>
                <td>
                    <a type="button" class="btn btn-primary btn-sm" title="Editar" data-toggle="modal" 
                        data-target="#modal" onclick="return get_url('{% url 'item-edit' item.id %}')">
                         <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                     </a> 
                     <a type="button" class="btn btn-danger btn-sm" title="Eliminar" data-toggle="modal" 
                        data-target="#modal" onclick="return get_url('{% url 'item-delete' item.id %}')">
                         <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                     </a>
                </td>
            </tr>
            {% endfor %} {% else %}
            <h1>Este catalogo esta vacio.</h1>
            {% endif %}
        </tbody>
    </table>
{% endblock %}