{% extends 'Services/base_configure.html' %} {% load static %}
{% load bootstrap4 %}
{% bootstrap_javascript jquery='full' %}
{% block table %}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Longitud</th>
                <th>Latitud</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if service.locations.all %} {% for location in service.locations.all %}
            <tr>
                <td>
                    {{ location.title }}
                </td>
                <td>
                    {{ location.longitude }}
                </td>
                <td>
                    {{ location.latitude }}
                </td>
                <td>
                    <a type="button" class="btn btn-primary" data-toggle="modal" 
                        data-target="#modal" onclick="return get_url('{% url 'location-edit' location.id %}')">
                         <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar
                     </a> 
                     <a type="button" class="btn btn-danger" data-toggle="modal" 
                        data-target="#modal" onclick="return get_url('{% url 'location-delete' location.id %}')">
                         <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                     </a>
                </td>
            </tr>
            {% endfor %} {% else %}
            <h1>No hay sitios registrados</h1>
            {% endif %}
        </tbody>
    </table>
{% endblock %}