{% extends 'Services/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/waves.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/button.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'adminpro/css/buttons.css' %}" type="text/css">

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ self.title }}</h3><br>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-md-4">
                    {% if self.id != 1 %}
                    <a type="button" class="btn btn-custon-rounded-three btn-primary notika-btn-black" title="Atras" href="{% url 'component-list' self.folder.id %}">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    </a> 
                    {% endif %}
                </div>
                <div class="col-md-4 button-drop-style-one">
                    <a type="button" class="btn btn-custon-rounded-three btn-primary" title="Agregar Servicio" data-toggle="modal" 
                        data-target="#modal" onclick="return get_url('{% url 'service-create' %}')">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Servicio
                    </a>
                    <a type="button" class="btn btn-custon-rounded-three btn-primary" title="Agregar Folder" data-toggle="modal" 
                        data-target="#modal" onclick="return get_url('{% url 'folder-create' %}')">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Carpeta
                    </a>
                </div>
            </div>
            <br>
            <br>
            <table data-toggle="table" data-pagination="true" data-search="true" class="table">
                <thead>
                    <tr>
                        <th>Icono</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for folder in folders %}
                    <tr class="folder">
                        <td>
                            <img src="{{ folder.icon.image.url }}" height="32" width="32" alt="{{ folder.icon.title }}">
                        </td>
                        <td>
                            {{ folder.title }}
                        </td>
                        <td>
                            <a type="button" class="btn btn-info btn-sm" title="Configurar" href="{% url 'component-list' folder.id %}"> 
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a type="button" class="btn btn-primary btn-sm" title="Editar" data-toggle="modal" 
                                data-target="#modal" onclick="return get_url('{% url 'folder-edit' folder.id %}')">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a type="button" class="btn btn-danger btn-sm" title="Eliminar" data-toggle="modal" 
                                data-target="#modal" onclick="return get_url('{% url 'folder-delete' folder.id %}')">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% for service in services %}
                    <tr class="service">
                        <td>
                            <img src="{{ service.icon.image.url }}" height="32" width="32" alt="{{ service.icon.title }}">
                        </td>
                        <td>
                            {{ service.title }}
                        </td>
                        <td>
                            <a type="button" class="btn btn-info btn-sm" title="Configurar" href="{% url 'service-configure' service.id %}"> 
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a type="button" class="btn btn-primary btn-sm" title="Editar" data-toggle="modal" 
                                data-target="#modal" onclick="return get_url('{% url 'service-edit' service.id %}')">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a type="button" class="btn btn-danger btn-sm" title="Eliminar" data-toggle="modal" 
                                data-target="#modal" onclick="return get_url('{% url 'service-delete' service.id %}')">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
        
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="marvel-device iphone5c blue">
                <div class="top-bar"></div>
                <div class="sleep"></div>
                <div class="volume"></div>
                <div class="camera"></div>
                <div class="sensor"></div>
                <div class="speaker"></div>
                <div class="container screen">
                    <div class="row justify-content-center">
                        <div class="col-md-6 offset-6">
                            {% for folder in folders %}
                            <img src="{{ folder.icon.image.url }}" height="32" width="32" alt="{{ folder.icon.title }}">
                            {{ folder.title }}
                            <br>
                            {% endfor %}
                            {% for service in services %}
                            <img src="{{ service.icon.image.url }}" height="32" width="32" alt="{{ service.icon.title }}">
                            {{ service.title }}
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="home"></div>
                <div class="bottom-bar"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}