{% extends 'adminlte/base.html' %} {% load static %} {% block content %}
<section class="panel">
    <header class="panel-heading">
        <h2 class="panel-title">Autenticación con usuarios en base de datos</h2>
    </header>
    <div class="panel-body">
        <form class="form-horizontal form-bordered" method="post" id="form_connection">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-md-3 control-label">{{ form.connection.label }}</label>
                <div class="col-md-6">
                    {{ form.connection }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form.table_users.label }}</label>
                <div class="col-md-6">
                    {{ form.table_users }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form.field_username.label }}</label>
                <div class="col-md-6">
                    {{ form.field_username }}
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">{{ form.field_password.label }}</label>
                <div class="col-md-6">
                    {{ form.field_password }}
                </div>
            </div>

            <div class="form-group">
                <center>
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Guardar
                    </button>
                    <input type="hidden" id="url_backend_setting_authdb" value="{% url 'authdb-backend-set' %}">
                    <button type="button" class="btn btn-warning" id="set_backend_setting_authdb">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Establecer
                        como configuración predeterminada
                    </button>
                </center>
            </div>
        </form>
    </div>
</section>

<div id="modal_confirmation_change_success" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Authenticatión con base de datos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                Configuración estabecida con exito.
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="modal_confirmation_change_error" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Authenticatión con base de datos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                Error al establecer el backend de autenticación.
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="{% static 'js/code_auth.js' %}"></script>
{% endblock %}