{% extends 'Services/base_form.html' %}{% load static %}
{% block config %} 
    {% if object %}
        <form action="{% url 'item-edit' object.id %}" method="post">
    {% else %}
        <form action="{% url 'add-element' service.id %}" enctype="multipart/form-data" method="post">
    {% endif %} 
{% endblock %}
    {% block form %}
        <div class="form-group">
            {{ form.title }}
        </div>
        <div class="form-group">
            {{ form.description }}
        </div>
        <div class="form-group"><label for="id_photo">Foto del objeto: </label>
            <div class="form-row">
                <div class="col-12">
                    {% if object %}
                        Actualmente: 
                        <a href="{{ object.photo.url }}">{{ object.photo }}</a><br>
                        <img src="{{ object.photo.url }}"><br>
                        Modificar:
                    {% endif %}
                    {{ form.photo }}
                </div>
            </div>
        </div>
    {% endblock %}

