{% load static %}
{% block content %}
<div class="modal-dialog" role="document">
    <form action="{% url route object.id %}" method="post">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-4">
                {% block title %}
                <h4 class="modal-title">Eliminar elemento</h4>
                {% endblock %}
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal"><i class="fa fa-close"></i></a>
                </div>
            </div>
            <div class="modal-body">
                <p style="color:black;">Esta seguro de <b style="color:red;">eliminar</b> el elemento "<b>{{ object }}</b>"?</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" data-toggle="tooltip" title="Cancelar">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                        </button>
                    </div>
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-danger btn-lg btn-block" data-toggle="tooltip" title="Confirmar">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </form>
</div><!-- /.modal-dialog -->
{% endblock %}