{% extends 'Services/base.html' %} {% load static %} {% block content %}
<div class="box box-info">
    <form method="post" id="form_service">
        <div class="box-header with-border">
            <h3 class="box-title">Configuración del servicio "{{ object.service }}"</h3>
        </div>
        <div class="box-body">

            <table class="table">
                {% csrf_token %}
                <tr>
                    <td width="25%">
                        <span class="input-group-addon label-info form-control" id="sizing-addon1">{{ form.type_name.label }}</span>
                    </td>
                    <td>
                        {{ form.type_name }}
                    </td>
                </tr>

                <tr>
                    <td>
                        <span class="input-group-addon label-info form-control">{{ form.connection.label }}</span>
                    </td>
                    <td>
                        {{ form.connection }}
                    </td>
                </tr>

                <tr>
                    <td>
                        <span class="input-group-addon label-info form-control" id="sizing-addon1">Consulta sql</span>
                    </td>
                    <td>
                        {{ form.query_sql }}
                    </td>
                </tr>

                <tr>
                    <td>
                        <span class="input-group-addon label-info form-control" id="sizing-addon1">{{ form.theme.label }}</span>
                    </td>
                    <td>
                        {{ form.theme }}
                    </td>
                </tr>

                <tr>
                    <td>
                        {% if fields %}
                        <div id="div_schema" hidden>
                            {% else %}
                            <div id="div_schema">
                                {% endif %}
                                <button type="button" id="button_schema" class="btn btn-warning">
                                    <input type="hidden" id="url" value="{% url 'query-configure' object.pk %}">
                                    <span class="glyphicon glyphicon-pencil"></span> Esquematizar
                                    servicio
                                </button>
                            </div>
                    </td>
                </tr>

            </table>
    </form>


    {% if fields %}
    <div id="fields_type">
        {% else %}
        <div id="fields_type" hidden>
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <center id="name_type">
                                {{ form.type_name.value }}
                            </center>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Esquema
                                    </th>
                                    <th>
                                        Etiqueta
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="fields">

                                {% if fields %}

                                {% for field in fields %}
                                <tr>
                                    <td>
                                        {% if field.visible == True %}
                                        <input type="checkbox" id="id_visible" checked disabled>
                                        {% else %}
                                        <input type="checkbox" id="id_visible" disabled>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="text" class='form-control' id="id_name" value="{{ field.name }}"
                                            disabled>
                                    </td>
                                    <td>
                                        <input type="text" class='form-control' id="id_label" value='{{ field.label }}'
                                            disabled>
                                    </td>
                                    <td>
                                        <button type="button" onclick="edit_field('{% url 'field-edit' field.id %}', '{{field.name}}', '{{field.label}}', '{{field.visible}}')" class="btn btn-info btn-xs">
                                                <input type="hidden" id="url_edit_field" value="{% url 'query-configure' field.id %}">
                                                <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}

                                {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="button_save">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span> Guardar
                </button>
            </div>
        </div>
    </div>
    <div id="loader" hidden>
        <center>
            <img src="{% static 'images/loader.gif' %}" width="40px" height="40px">
        </center>
    </div>
</div>

<div class="modal fade" id="modal_edit_field" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-primary close" data-dismiss="modal" aria-hidden="true">
                    <span class="glyphicon glyphicon-close" aria-hidden="true"></span> Cancelar
                </button>
                <h3>Editar campo de esquema <strong id="title"></strong></h3>
            </div>
            <form method="post" action="" id="form_edit_field">
                <input type="hidden" name="name" id="spn_name">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <table class="table table-bordered table-hover">
                                <tr>
                                    <td>
                                        <span class="input-group-addon label-info form-control">Nombre de etiqueta</span>
                                    </td>
                                    <td>
                                        <input type="text" class='form-control' name="label" id="spn_label">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="visible" id="spn_visible">Visible en esquema</label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/code_service.js' %}"></script> {% endblock %}